
  <h4>Счет</h4>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex"><span class="w-30 mr-4">img1</span><span  class="w-70">{{bill.value | number: "1.2"}}</span></li>
      <li class="list-group-item d-flex"><span class="w-30 mr-4">img2</span><span  class="w-70">{{eur | number: "1.2"}}</span></li>
      <li class="list-group-item d-flex"><span class="w-30 mr-4">img3</span><span  class="w-70">{{usd | number: "1.2"}}</span></li>
    </ul>
  </div>

