<div class="nav flex-column nav-pills pt-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link" routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill"
     [routerLink]="['/system','bill']" role="tab"
     aria-controls="v-pills-home" aria-selected="true">Счет</a>
  <a class="nav-link" routerLinkActive="active" id="v-pills-profile-tab" data-toggle="pill"
     [routerLink]="['/system','history']" role="tab"
     aria-controls="v-pills-profile" aria-selected="false">История</a>
  <a class="nav-link" routerLinkActive="active" id="v-pills-messages-tab" data-toggle="pill"
     [routerLink]="['/system','planning']" role="tab"
     aria-controls="v-pills-messages" aria-selected="false">Планирование</a>
  <a class="nav-link" routerLinkActive="active" id="v-pills-settings-tab" data-toggle="pill"
     [routerLink]="['/system','records']" role="tab"
     aria-controls="v-pills-settings" aria-selected="false">Запись</a>
</div>
