<div class="card">
  <div class="card-body">
    <h5 class="card-title"><strong>Добавить категорию</strong></h5>
    <hr>
    <form>
      <div class="form-group">
        <label>Введите название</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label>Введите лимит</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
  </div>
</div>
